.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  background-color: #0B2545;
  color: white;
  text-align: center;
  padding: 12px;

  z-index: 40;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);

  transition: transform 0.3s ease-in-out;
}

.visible {
  transform: translateY(0);
}

.hidden {
  transform: translateY(100%);
}

.text {
  font-size: 14px;
}
