@import 'tailwindcss';

:root {
  --color-primary: #0B2545;
  --color-secondary: #134B70;
  --color-accent: #8EB8E5;
  --color-bg: #f9fafb;
  --color-text: #1E1E1E;
  --color-white: #FFFFFF;
}

h1 {
  text-align: center;
  color: var(--color-primary);
  margin: 2rem 0;
  font-size: 2.25rem;
  font-weight: 800;
}

header {
  & .btn {
    padding: 6px 14px;
    border-radius: 6px;
    font-weight: 600;
    transition: 0.3s ease;
  }

  & .btn-outline {
    border: 2px solid var(--color-white);
    color: var(--color-white);
  }

  & .btn-outline:hover {
    background-color: var(--color-white);
    color: var(--color-primary);
  }

  & .btn-solid {
    background-color: var(--color-white);
    color: var(--color-primary);
  }

  & .btn-solid:hover {
    background-color: transparent;
    color: var(--color-white);
  }
}


