@import 'tailwindcss';

:root {
  --color-primary: #0B2545;
  --color-secondary: #134B70;
  --color-accent: #8EB8E5;
  --color-bg: #f9fafb;
  --color-text: #1E1E1E;
  --color-white: #FFFFFF;
}


* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}